<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealEstateApp"
        tools:node="merge">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"  />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".OnboardingActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".PropertyDetailActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".SavedPropertiesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".HelpCenterActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".AIChatActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".DocumentsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>
        <activity
            android:name=".PropertyListActivity"
            android:exported="false" />

        <activity
            android:name=".SellPropertyActivity"
            android:exported="false" />

        <activity android:name=".SearchHistoryActivity" />
        <activity android:name=".ViewedPropertiesActivity" />

        <activity android:name=".DocumentViewActivity" />

    </application>

</manifest>